In [1]:
"""
1. Given 2 strings, s1 and s2, return True if they are anagrams of each other.
2. All characters must be used.
"""

def anagram(s1, s2):
    c1 = {}
    c2 = {}
    
    def count_chars(s):
        h = {}
        for char in s:
            if char in h:
                h[char] += 1
            else:
                h[char] = 1
        return h

    return count_chars(s1) == count_chars(s2)

In [2]:
anagram('word', 'wodr')

In [3]:
anagram('dog', 'dogg')

False

In [4]:
anagram('racecar', 'carrace')

True

In [5]:
"""
1. Given a sentence, sent1, and the same sentence with an added word, sent2, return the added word.
2. Every sentence, s1, will have at least 1 word.
"""

def extra_word(s1, s2):
    words = {}
    
    for word in s1.split(' '):
        if word in words:
            words[word] += 1
        else:
            words[word] = 1
    
    for word in s2.split(' '):
        if word in words:
            words[word] -= 1
        else:
            return word

In [6]:
extra_word('This is a dog', 'This is a fast dog')

'fast'

In [7]:
extra_word('answer', 'The answer')

'The'

In [8]:
extra_word('Can you solve algorithm questions', 'Can you solve hard algorithm questions')

'hard'

In [9]:
'''
1. Given n, return a list of values for every integer from 1 through n.
2. If a number is divisible by 3, return 'Fizz' in its place.
3. If the number is divisible by 5 return 'Buzz' in its place.
4. If the number is divisible by 3 and 5, return 'FizzBuzz' in its place.
'''

def fizzbuzz(n):
    ans = []
    for i in range(1, n+1):
        if i % 3 == 0 and i % 5 == 0:
            ans.append('FizzBuzz')
        elif i % 3 == 0:
            ans.append('Fizz')
        elif i% 5 == 0:
            ans.append('Buzz')
        else:
            ans.append(i)
    return ans

In [10]:
fizzbuzz(20)

[1,
 2,
 'Fizz',
 4,
 'Buzz',
 'Fizz',
 7,
 8,
 'Fizz',
 'Buzz',
 11,
 'Fizz',
 13,
 14,
 'FizzBuzz',
 16,
 17,
 'Fizz',
 19,
 'Buzz']

In [11]:
'''
General letter counter
'''
def count_dict(s):
    bag = {}
    for x in s:
        if x in bag:
            bag[x] += 1
        else:
            bag[x] = 1
    return bag

In [12]:
count_dict('mississippi')

{'m': 1, 'i': 4, 's': 4, 'p': 2}

In [13]:
'''
General word counter
'''
def count_words(s):
    bag = {}
    for x in s.split(' '):
        if x in bag:
            bag[x] += 1
        else:
            bag[x] = 1
    return bag

In [14]:
count_words('Tik Tok Tik Tok')

{'Tik': 2, 'Tok': 2}

In [15]:
'''
Sort list of words
'''
lst = ['happy', 'birthday', 'june', 'error']
set_lst = set(lst)
set_lst

{'birthday', 'error', 'happy', 'june'}

In [16]:
lst.sort(key=len)
lst

['june', 'happy', 'error', 'birthday']

In [17]:
'''
Redo: are two strings anagrams?
'''
def ana(s1, s2):
    a = {}
    b = {}
    
    for x in s1:
        if x in a:
            a[x] += 1
        else:
            a[x] = 1
            
    for x in s2:
        if x in b:
            b[x] += 1
        else:
            b[x] = 1
    
    return a == b

In [18]:
ana('abdc', 'dcba')

True

In [19]:
'''
Redo: Find Extra Word
'''
def extra(s1, s2):
    a = {}
    
    for x in s1.split(' '):
        if x in a:
            a[x] += 1
        else:
            a[x] = 1
    
    for x in s2.split(' '):
        if x in a:
            a[x] -= 1
        else:
            return x

In [20]:
extra('I am happy', 'I am happy too')

'too'

In [21]:
'''
REDO: FIZZBUZZ
'''
def fizzbuzz(n):
    a = []
    for x in range(1, n+1):
        if (x % 3 == 0 and x % 5 == 0):
            a.append('FIZZBUZZ')
        elif x % 3 == 0:
            a.append('FIZZ')
        elif x % 5 == 0:
            a.append('BUZZ')
        else:
            a.append(x)
    return a

In [22]:
fizzbuzz(30)

[1,
 2,
 'FIZZ',
 4,
 'BUZZ',
 'FIZZ',
 7,
 8,
 'FIZZ',
 'BUZZ',
 11,
 'FIZZ',
 13,
 14,
 'FIZZBUZZ',
 16,
 17,
 'FIZZ',
 19,
 'BUZZ',
 'FIZZ',
 22,
 23,
 'FIZZ',
 'BUZZ',
 26,
 'FIZZ',
 28,
 29,
 'FIZZBUZZ']

In [23]:
'''
Recursive Fibonacci
'''
def fib(n):
    if n == 1:
        return 1
    elif n == 2:
        return 1
    return fib(n-1) + fib(n-2)

In [24]:
[fib(x) for x in range(1,10)]

[1, 1, 2, 3, 5, 8, 13, 21, 34]

In [25]:
'''
Redo: Find non-anagram in list
'''
def non_ana(lst):
    a = []
    
    for x in lst:
        a.append(''.join(sorted(x)))
    
    for x in a:
        for y in a:
            if x != y:
                return lst[a.index(y)]

In [26]:
non_ana(['acb', 'abc', 'afb', 'cab'])

'afb'

In [27]:
'''
Redo: Find Non-Anagram
'''
def non_ana(lst):
    sorted_lst = []
    dict_sorted = {}
    for x in lst:
        a = ''.join(sorted(x))
        sorted_lst.append(a)
        if a in dict_sorted:
            dict_sorted[a] += 1
        else:
            dict_sorted[a] = 1
        
    for y in dict_sorted:
        if dict_sorted[y] == 1:
            b = y
    
    for z in lst:
        if ''.join(sorted(z)) == b:
            return z

In [28]:
non_ana(lst)

'birthday'

In [29]:
non_ana(['abc', 'cba', 'bac', 'bbf', 'acb'])

'bbf'

In [30]:
sorted(lst)

['birthday', 'error', 'happy', 'june']

In [31]:
'''
Sort list of integer numbers
'''
def sort(lst):
    a = lst
    b = []
    
    while a:
        mini = a[0]
        for x in a:
            if x < mini:
                mini = x
        b.append(mini)
        a.remove(mini)
    return b

In [32]:
sort([-10, -7, 0, -2, 8, 10])

[-10, -7, -2, 0, 8, 10]

In [33]:
'''
Redo: sort numbers
'''
def sort_int(lst):
    a = lst
    b = []
    
    for _ in range(len(a)):
        sm = a[0]
        for x in a:
            if x < sm:
                sm = x
        b.append(sm)
        a.remove(sm)
    return b

In [34]:
sort_int([-30, 100, 10, 41, -3])

[-30, -3, 10, 41, 100]

In [35]:
set(['b', 'd', 'z'])

{'b', 'd', 'z'}

In [36]:
'''
Redo: sort integers
'''
def sort_int(lst):
    a = lst
    b = []
    
    for _ in range(len(lst)):
        mini = a[0]
        for x in a:
            if x < mini:
                mini = x
        b.append(mini)
        a.remove(mini)
    
    return b

In [37]:
sort_int([-10, -1, 0, 8, 10, -200, -3000])

[-3000, -200, -10, -1, 0, 8, 10]

In [38]:
data_dict = {'item':['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']
             , 'price_sold': [10, 5, 2, 12, 7, 3, 17, 9, 1]
             , 'expensive': ['yes', 'no', 'no', 'yes', 'yes', 'no', 'yes', 'yes', 'no']
            }

In [39]:
import pandas as pd
import numpy as np

In [40]:
data_df = pd.DataFrame(data_dict)
data_df

  item  price_sold expensive
0    a          10       yes
1    b           5        no
2    c           2        no
3    a          12       yes
4    b           7       yes
5    c           3        no
6    a          17       yes
7    b           9       yes
8    c           1        no

In [41]:
grouped_df = data_df.groupby('item')
grouped_df.get_group('a')

  item  price_sold expensive
0    a          10       yes
3    a          12       yes
6    a          17       yes

In [42]:
'''
Redo: Anagrams
'''
def ana(s1, s2):
    a = {}
    b = {}
    
    for x in s1:
        if x in a:
            a[x] += 1
        else:
            a[x] = 1
    
    for y in s2:
        if y in b:
            b[y] += 1
        else:
            b[y] = 1
    
    return a == b

In [43]:
ana('abc', 'dab')

False

In [44]:
'''
Redo: Extra string
'''
def extra(s1, s2):
    if len(s1) > len(s2):
        first = s2
        second = s1
    else:
        first = s1
        second = s2
    a = {}
    for x in first.split(' '):
        if x in a:
            a[x] += 1
        else:
            a[x] = 1
    
    for x in second.split(' '): 
        if x in a:
            a[x] -= 1
        else:
            return x

In [45]:
extra('i am happy', 'i am happy too')

'too'

In [46]:
extra('i too am happy', 'i am happy')

'too'

In [47]:
'''
Redo: Find non-anagrams from list
'''
def non_ana(lst):
    sorted_lst = [''.join(sorted(x)) for x in lst]
    sorted_dict = {}
    for x in sorted_lst:
        if x in sorted_dict:
            sorted_dict[x] += 1
        else: 
            sorted_dict[x] = 1
    
    for x in lst:
        if sorted_dict[''.join(sorted(x))] == 1:
            return x

In [48]:
non_ana(['abc', 'acb', 'adc', 'bac'])

'adc'

In [49]:
lst = ['abc', 'cba', 'cab']
sorted(lst[1])

['a', 'b', 'c']

In [50]:
'''
Redo: non-anagram
'''
def non_ana(lst):
    sorted_lst = [''.join(sorted(x)) for x in lst]
    sorted_dict = {}
    
    for x in sorted_lst:
        if x in sorted_dict:
            sorted_dict[x] += 1
        else:
            sorted_dict[x] = 1
        
    for x in lst:
        if sorted_dict[''.join(sorted(x))] == 1:
            return x

In [51]:
non_ana(['abc', 'acb', 'bac', 'fzg'])

'fzg'

In [52]:
'''
Redo: Sort integer list without using sorted functions
'''
def sort(lst):
    a = []
    b = lst
    
    for _ in range(len(lst)):
        sm = b[0]
        for x in b:
            if x < sm:
                sm = x
        a.append(sm)
        b.remove(sm)
    return a

In [53]:
sort([1, -3, 5, -20, 4])

[-20, -3, 1, 4, 5]

In [54]:
'''
Redo: Sort integer list
'''
def sort(lst):
    a = lst
    b = []
    
    for _ in range(len(lst)):
        sm = a[0]
        for x in a:
            if x < sm:
                sm = x
        b.append(sm)
        a.remove(sm)
    return b

In [55]:
sort([-1, -10, 3, -5, 7, 10])

[-10, -5, -1, 3, 7, 10]

In [56]:
'''
Redo: Extra String
'''
def extra(s1, s2):
    if len(s1) > len(s2):
        first = s2
        second = s1
    else:
        first = s1
        second = s2
    
    word_dict = {}
    for x in first.split(' '):
        if x in word_dict:
            word_dict[x] += 1
        else:
            word_dict[x] = 1
    
    for y in second.split(' '):
        if y in word_dict:
            word_dict[x] -= 1
        else:
            return y

In [57]:
extra('i am happy too', 'i am happy')

'too'

In [58]:
'''
Redo: FizzBuzz
'''
def fizzbuzz(n):
    a = []
    for x in range(1, n+1):
        if x % 3 == 0 and x % 5 == 0:
            a.append('FizzBuzz')
        elif x % 3 == 0:
            a.append('Fizz')
        elif x % 5 == 0:
            a.append('Buzz')
        else:
            a.append(x)
            
    return a

In [59]:
fizzbuzz(20)

[1,
 2,
 'Fizz',
 4,
 'Buzz',
 'Fizz',
 7,
 8,
 'Fizz',
 'Buzz',
 11,
 'Fizz',
 13,
 14,
 'FizzBuzz',
 16,
 17,
 'Fizz',
 19,
 'Buzz']

In [60]:
'''
Redo: Anagram? 
'''
def ana(s1, s2):
    a = {}
    b = {}
    
    for x in s1:
        if x in a:
            a[x] += 1
        else:
            a[x] = 1
    
    for y in s2:
        if y in b:
            b[y] += 1
        else:
            b[y] = 1
    
    return a == b

In [61]:
ana('abc', 'cfb')

False

In [62]:
'''
Redo: Sort list of integers
'''
def sort(lst):
    a = lst
    b = []
    
    for _ in range(len(lst)):
        smallest = a[0]
        for x in a:
            if x < smallest:
                smallest = x
        a.remove(smallest)
        b.append(smallest)
    
    return b

In [63]:
sort([1, -3, 5, -100, 52])

[-100, -3, 1, 5, 52]

In [64]:
'''
Redo: Two strings anagrams?
'''
def ana(s1, s2):
    a = {}
    b = {}
    
    for x in s1:
        if x in a:
            a[x] += 1
        else:
            a[x] = 1
    
    for y in s2:
        if y in b:
            b[y] += 1
        else:
            b[y] = 1
    
    return b == a

In [65]:
ana('abc', 'cba')

True

In [66]:
'''
Redo: Return extra word
'''
def extra(s1, s2):
    if len(s1) > len(s2):
        first = s2
        second = s1
    else:
        first = s1
        second = s2
    
    a = {}
    
    for x in first.split(' '):
        if x in a:
            a[x] += 1
        else:
            a[x] = 1
    
    for y in second.split(' '):
        if y in a:
            a[x] -= 1
        else:
            return y

In [67]:
extra('i am happy too', 'i am happy')

'too'

In [68]:
'''
Redo: find non-anagram in list
'''
def non_ana(lst):
    sorted_lst = [''.join(sorted(x)) for x in lst]
    sorted_lst_dict = {}
    
    for x in sorted_lst:
        if x in sorted_lst_dict:
            sorted_lst_dict[x] += 1
        else:
            sorted_lst_dict[x] = 1
            
    for y in lst:
        if sorted_lst_dict[''.join(sorted(y))] == 1:
            return y

In [69]:
non_ana(['dbc', 'cba', 'cab', 'abc'])

'dbc'

In [70]:
'''
Redo: FizzBuzz
'''

def fizzbuzz(n):
    a = []
    for x in range(1, n+1):
        if x % 3 == 0 and x % 5 == 0:
            a.append('FizzBuzz')
        elif x % 3 == 0:
            a.append('Fizz')
        elif x % 5 == 0:
            a.append('Buzz')
        else:
            a.append(x)
    return a

In [71]:
fizzbuzz(30)

[1,
 2,
 'Fizz',
 4,
 'Buzz',
 'Fizz',
 7,
 8,
 'Fizz',
 'Buzz',
 11,
 'Fizz',
 13,
 14,
 'FizzBuzz',
 16,
 17,
 'Fizz',
 19,
 'Buzz',
 'Fizz',
 22,
 23,
 'Fizz',
 'Buzz',
 26,
 'Fizz',
 28,
 29,
 'FizzBuzz']

In [72]:
'''
Redo: sort integers in list
'''
def sort(lst):
    a = lst
    b = []
    
    for _ in range(len(lst)):
        smallest = a[0]
        for x in a:
            if x < smallest:
                smallest = x
        a.remove(smallest)
        b.append(smallest)
    
    return b

In [73]:
sort([1, 8, -38, -200, 0, 35])

[-200, -38, 0, 1, 8, 35]

In [74]:
'''
Number of evens and odds
'''
def evens(mtx):
    import numpy as np
    mat = np.array(mtx)
    e_o_dict = {'evens': len(mat[mat%2!=1])
                , 'odds': len(mat[mat%2==1])
               }
    return e_o_dict

In [75]:
evens([[1, 3, 7], [4, 5, 9]])

{'evens': 1, 'odds': 5}

In [76]:
mat1 = np.array([[1, 3, 7], [4, 5, 9]])
np.rot90(mat1)

array([[7, 9],
       [3, 5],
       [1, 4]])

In [77]:
''' 
Redo: fizzbuzz
'''
def fizzbuzz(n):
    ans = []
    for x in range(1, n+1):
        if x % 5 == 0 and x % 3 == 0:
            ans.append('fizzbuzz')
        elif x % 3 == 0:
            ans.append('fizz')
        elif x % 5 == 0:
            ans.append('buzz')
        else:
            ans.append(x)
    return ans

In [78]:
fizzbuzz(30)

[1,
 2,
 'fizz',
 4,
 'buzz',
 'fizz',
 7,
 8,
 'fizz',
 'buzz',
 11,
 'fizz',
 13,
 14,
 'fizzbuzz',
 16,
 17,
 'fizz',
 19,
 'buzz',
 'fizz',
 22,
 23,
 'fizz',
 'buzz',
 26,
 'fizz',
 28,
 29,
 'fizzbuzz']

In [79]:
'''
Redo: anagrams?
'''
def ana(s1, s2):
    dict_a = {}
    dict_b = {}
    
    for x in s1:
        if x in dict_a:
            dict_a[x] += 1
        else:
            dict_a[x] = 1

    for y in s2:
        if y in dict_b:
            dict_b[y] += 1
        else:
            dict_b[y] = 1
    
    return dict_a == dict_b

In [80]:
ana('abc', 'acb')

True

In [81]:
'''
Redo: extra word
'''
def extra(s1, s2):
    if len(s1) > len(s2):
        first = s2
        second = s1
    else:
        first = s1
        second = s2
        
    dict_a = {}
    
    for x in first.split(' '):
        if x in dict_a:
            dict_a[x] += 1
        else: 
            dict_a[x] = 1
    
    for y in second.split(' '):
        if y in dict_a:
            dict_a[y] -= 1
        else:
            return y

In [82]:
extra('i too have peanuts', 'i have peanuts')

'too'

In [83]:
'''
Redo Extra anagram from list
'''
def extra_ana(lst):
    word_sorted = [''.join(sorted(x)) for x in lst]
    word_dict = {}
    
    for x in word_sorted:
        if x in word_dict:
            word_dict[x] += 1
        else:
            word_dict[x] = 1
    
    for x in lst:
        if word_dict[''.join(sorted(x))] == 1:
            return x

In [84]:
extra_ana(['fft', 'abc', 'acb', 'bca', 'bac'])

'fft'

In [85]:
'''
Redo: Sort integer list without using sorted()
'''
def sort(lst):
    dummy = lst
    ans = []
    
    for _ in range(len(lst)):
        smallest = dummy[0]
        for x in dummy:
            if x < smallest:
                smallest = x
        ans.append(smallest)
        dummy.remove(smallest)
    
    return ans

In [86]:
sort([-15, 3, 62, -200])

[-200, -15, 3, 62]

In [87]:
data_df

  item  price_sold expensive
0    a          10       yes
1    b           5        no
2    c           2        no
3    a          12       yes
4    b           7       yes
5    c           3        no
6    a          17       yes
7    b           9       yes
8    c           1        no

In [88]:
grouped = data_df.groupby('item')
grouped.get_group('a').price_sold.mean()

13.0

In [89]:
import json

In [90]:
x =  '{ "name":"John", "age":30, "city":"New York"}'

In [91]:
y = json.loads(x)
print(y['age'])

30

In [92]:
z = json.dumps(x)
print(z)

"{ \"name\":\"John\", \"age\":30, \"city\":\"New York\"}"

In [93]:
'''
Redo: FizzBuzz
'''
def fizzbuzz(n):
    ans = []
    
    for x in range(1,n+1):
        if x % 5 == 0 and x % 3 == 0:
            ans.append('fizzbuzz')
        elif x % 3 == 0:
            ans.append('fizz')
        elif x % 5 == 0:
            ans.append('buzz')
    
    return ans

In [94]:
fizzbuzz(30)

['fizz',
 'buzz',
 'fizz',
 'fizz',
 'buzz',
 'fizz',
 'fizzbuzz',
 'fizz',
 'buzz',
 'fizz',
 'fizz',
 'buzz',
 'fizz',
 'fizzbuzz']

In [95]:
'''
Redo: Anangrams?
'''
def ana(s1, s2):
    dict_a = {}
    dict_b = {}
    
    for x in s1:
        if x in dict_a:
            dict_a[x] += 1
        else:
            dict_a[x] = 1
    
    for y in s2:
        if y in dict_b:
            dict_b[y] += 1
        else:
            dict_b[y] = 1
    
    return dict_a == dict_b

In [96]:
ana('abc', 'cab')

True

In [97]:
'''
Redo: Extra word
'''
def extra(s1, s2):
    if len(s1) > len(s2):
        first = s2
        second = s1
    else:
        first = s1
        second = s2
        
    word_dict = {}
    
    for x in first.split(' '):
        if x in word_dict:
            word_dict[x] += 1
        else:
            word_dict[x] = 1
    
    for y in second.split(' '):
        if y in word_dict:
            word_dict[x] -= 1
        else:
            return y

In [98]:
extra('i too am happy blah', 'i am happy too')

'blah'

In [99]:
'''
Redo: Order integers in list
'''
def order(lst):
    a = lst
    ans = []
    
    for _ in range(len(lst)):
        smallest = a[0]
        for x in a:
            if x < smallest:
                smallest = x
        ans.append(smallest)
        a.remove(smallest)
    
    return ans

In [100]:
order([-10, 3, -100, -50, 2, 7])

[-100, -50, -10, 2, 3, 7]

In [101]:
'''
REDO: anagrams?
'''
def ana(s1, s2):
    dict1 = {}
    dict2 = {}
    for x in s1:
        if x in dict1:
            dict1[x] += 1
        else:
            dict1[x] = 1
    for x in s2:
        if x in dict2:
            dict2[x] += 1
        else:
            dict2[x] = 1
    return dict1 == dict2

ana('abc', 'cbv')

False

In [102]:
'''
REDO: Return extra word
'''
def extra(s1, s2):
    dict1 = {}
    
    if len(s1) > len(s2):
        first = s2
        second = s1
    
    for x in first.split(' '):
        if x in dict1:
            dict1[x] += 1
        else:
            dict1[x] = 1
        
    for y in second.split(' '):
        if y in dict1:
            dict1[x] -= 1
        else:
            return y

extra('too i am happy', 'am happy too')

'i'

In [103]:
'''
REDO: order list of ints
'''
def order(lst):
    temp = lst
    ans = []
    for _ in range(len(lst)):
        sm = temp[0]
        for x in temp:
            if x < sm:
                sm = x
        temp.remove(sm)
        ans.append(sm)
    return ans
lst = [-10, 91, 7316, 99]
order(lst)

[-10, 91, 99, 7316]

In [104]:
'''
from: https://realpython.com/sorting-algorithms-python/#the-bubble-sort-algorithm-in-python
BUBBLE SORT O(N^2)
'''
def bubble(lst):
    n = len(lst)
    
    for i in range(n):
        already_sorted = True
        
        for j in range(n - i - 1):
            if lst[j] > lst[j+1]:
                lst[j], lst[j+1] = lst[j+1], lst[j]
                
                already_sorted = False
    
        if already_sorted:
            break
    
    return lst
lst = [-10, 91, 7316, 99]
bubble(lst)

[-10, 91, 99, 7316]

In [105]:
'''
REDO: Order list of ints
'''
def order(lst):
    temp = lst
    ans = []
    for _ in range(len(lst)):
        smallest = temp[0]
        for x in temp:
            if x < smallest:
                smallest = x
        temp.remove(smallest)
        ans.append(smallest)
    return ans
lst = [-103, 93, -96, -10035]
order(lst)

[-10035, -103, -96, 93]

In [106]:
'''
REDO: Bubble Sort O(N^2) b/c loop inside loop
'''
def bubble(lst):
    n = len(lst)
    for i in range(n):
        already_sorted = True
        for j in range(n-i-1):
            if lst[j] > lst[j+1]:
                lst[j], lst[j+1] = lst[j+1], lst[j]
                already_sorted = False
        if already_sorted:
            break
    return lst
lst = [-159, 10, -8991, -21, 693]
bubble(lst)

[-8991, -159, -21, 10, 693]

In [107]:
'''
REDO: fizzbuzz
'''
def fizbuz(n):
    ans = []
    for i in range(1, n+1):
        if i % 5 == 0 and i % 3 == 0:
            ans.append('fizzbuzz')
        elif i % 5 == 0:
            ans.append('buzz')
        elif i % 3 == 0:
            ans.append('fizz')
        else:
            ans.append(i)
    return ans
fizbuz(30)

[1,
 2,
 'fizz',
 4,
 'buzz',
 'fizz',
 7,
 8,
 'fizz',
 'buzz',
 11,
 'fizz',
 13,
 14,
 'fizzbuzz',
 16,
 17,
 'fizz',
 19,
 'buzz',
 'fizz',
 22,
 23,
 'fizz',
 'buzz',
 26,
 'fizz',
 28,
 29,
 'fizzbuzz']

In [108]:
'''
REDO: Anagram
'''
def ana(s1, s2):
    dict1 = {}
    dict2 = {}
    for x in s1:
        if x in dict1:
            dict1[x] += 1
        else:
            dict1[x] = 1
    for y in s2:
        if y in dict2:
            dict2[y] += 1
        else:
            dict2[y] = 1
    return dict1 == dict2

ana('abc', 'bac')

True

In [109]:
'''
REDO: Sort int in list
'''
def sort(lst):
    temp = lst
    ans = []
    for _ in range(len(lst)):
        sm = temp[0]
        for x in temp:
            if x < sm:
                sm = x
        temp.remove(sm)
        ans.append(sm)
    return ans

lst = [-9, 2, -1003, -28, 193]
sort(lst)

[-1003, -28, -9, 2, 193]

In [110]:
'''
REDO: Find extra word
'''
def extra(s1, s2):
    if len(s1) > len(s2):
        first = s2
        second = s1
    dict1 = {}
    for x in first.split(' '):
        if x in dict1:
            dict1[x] += 1
        else:
            dict1[x] = 1
    for y in second.split(' '):
        if y in dict1:
            dict1[y] -= 1
        else: 
            return y
extra('i am you', 'you i')

'am'

In [111]:
''.join(sorted('bca'))

'abc'

In [112]:
'''
REDO: Find non-anagrams in list
'''
def nonana(lst):
    lst_sorted = [''.join(sorted(x)) for x in lst]
    dict1 = {}
    
    for x in lst_sorted:
        if x in dict1:
            dict1[x] += 1
        else:
            dict1[x] = 1
    
    for x in dict1:
        if dict1[x] == 1:
            return x

nonana(['abc', 'bac', 'acb', 'bca', 'ipo'])

'iop'

In [113]:
7//2

3

In [114]:
-7//2

-4

In [116]:
from itertools import combinations

In [130]:
lst = [[1,1],[2,2],[3,3],[4,4]]
list(list(combinations(lst, 2))[0])

[[1, 1], [2, 2]]

In [135]:
def slope(e1, e2):
    return (e1[1]-e2[1])/(e1[0]-e2[0])

In [136]:
slope(list(list(combinations(lst, 2))[0])[0]
      , list(list(combinations(lst, 2))[0])[1]
     )

1.0

In [134]:
for n in range(len(lst), 0, -1):
    print(n)

4
3
2
1